{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="icon" type="image/png" href="http://www.claxcarrier.com.mx/images/logo.png" />
    <meta charset="utf-8">

    <title>{% block titulo %}{% endblock titulo %}</title>
    {% block cabecera %}

    {% endblock cabecera %}
    
  </head>
  <body>
    <header>
      
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
          <a href="{% url 'index' %}" class="navbar-brand d-flex align-items-center">
            Logout
          </a>
          <h4 style="color: #f9fafb; font-size: 12px;" >Hola Juan, Bienvenido</h4>
        </div>
      </div>
    </header>

    {% block cuerpo %}

    {% endblock cuerpo %}

    
      {% block piePaigna %}

      {% endblock piePaigna %}
  </body>
</html>
